In [ ]:
# Dependencies
import os 
import pandas as pd 
import numpy as np
from sqlalchemy import create_engine

#Reading in Files
inc2018_df = pd.read_csv("resource/inc5000-2018.csv")
inc2019_df = pd.read_csv("resource/inc5000-2019.csv")
#inc10years_df = pd.read_csv("resource/inc5000_all10years.csv", encoding='cp1252')

In [ ]:
# print inc2018_df
inc2018_df.head()

In [ ]:
# iterating the columns of inc2018_df
for col in inc2018_df.columns:
    print(col)

In [ ]:
# rename column for 2018 csv
df2018= inc2018_df.rename(columns={'_ - id': 'id', \
                           '_ - url': 'url', \
                           '_ - rank': 'rank',\
                           '_ - city': 'city', \
                           '_ - ifmid': 'ifmid', \
                           '_ - ifiid': 'ifiid', \
                           '_ - growth': 'growth',\
                           '_ - workers': 'workers', \
                           '_ - company': 'company', \
                           '_ - website': 'website', \
                           '_ - state_l': 'state_l',\
                           '_ - state_s': 'state_s', \
                           '_ - revenue': 'revenue', \
                           '_ - zipcode': 'zipcode', \
                           '_ - founded': 'founded',\
                           '_ - industry': 'industry', \
                           '_ - latitude': 'latitude', \
                           '_ - metrocode': 'metrocode',\
                           '_ - longitude': 'longitude', \
                           '_ - yrs_on_list': 'yrs_on_list', \
                           '_ - previous_workers': 'previous_workers', \
                           '_ - metro': 'metro',\
                           '_ - partner_lists - partner_lists': 'partner_lists'})

In [ ]:
# inserting column "year" 2018
df2018['year'] = '2018'

In [ ]:
# selecting and ordering columns to be in 2018 dataframe
df2018_clean = df2018[["year","rank", "city", "growth", "workers", "company", "state_s", "state_l", "revenue", "yrs_on_list", "industry", "metro"]]
df2018_clean.head()

In [ ]:
inc2019_df.head()

In [ ]:
# iterating the columns
for col in inc2019_df.columns:
    print(col)

In [ ]:
# rename columns for 2019 csv
#df2019= inc2019_df.rename(columns={'_ - rank': 'rank',\
#                           '_ - Profile': 'profile', \
#                           '_ - name': 'company', \
#                           'url': 'url',\
#                           'state': 'state_s',\
#                           '_ - revenue': 'revenue', \
#                           '_ - growth': 'growth',\
#                           '_ - industry': 'industry', \
#                           '_ - workers': 'workers', \
#                           '_ - founded': 'founded',\
#                           '_ - yrs_on_list': 'yrs_on_list', \
#                           '_ - previous_workers': 'previous_workers', \
#                           '_ - metro': 'metro',\
#                           'city': 'city'})

# rename columns for 2019 csv
inc2019_df.columns = ['rank', 'Profile', 'company', 'url', 'state_s', 'revenue', 'growth', 'industry', 'workers', 'founded', 'yrs_on_list', 'previous_workers', 'metro', 'city']
df2019 = inc2019_df
df2019.head()

In [ ]:
# inserting column "year" = 2019
df2019['year'] = '2019'

# inserting column "state_l" for concating data frame purposes
df2019["state_l"] = " "

df2019.head()

In [ ]:
# selecting and ordering columns to be in 2019 dataframe
df2019_clean = df2019[["year","rank", "city", "growth", "workers", "company", "state_s", "state_l", "revenue", "yrs_on_list", "industry", "metro"]]
df2019_clean.head()

In [ ]:
# combining/concatenating df2018 and df2019
df2018_2019_concat = pd.concat([df2018_clean, df2019_clean], axis=0)
df2018_2019_concat.head()

In [ ]:
industry_sector={
    'Advertising & Marketing' : 'Multi-Sector',
    'Business Products & Services' : 'Wholesale Trade',
    'Computer Hardware' : 'Professional, Scientific, and Technical Services',
    'Construction' : 'Construction',
    'Consumer Products & Services' : 'Multi-Sector',
    'Education' : 'Educational Services',
    'Energy' : 'Utilites',
    'Engineering' : 'Professional, Scientific, and Technical Services',
    'Environmental Services' : 'Administrative and Support and Waste Management and Remediation Services',
    'Financial Services' : 'Finance and Insurance',
    'Food & Beverage' : 'Accommodation and Food Services',
    'Government Services' : 'Government',
    'Health' : 'Health Care and Social Assistance',
    'Human Resources' : 'Management of Companies and Enterprises',
    'Insurance' : 'Finance and Insurance',
    'IT Services' : 'Information',
    'Logistics & Transportation' : 'Transportation and Warehousing',
    'Manufacturing' : 'Manufacturing',
    'Media' : 'Arts, Entertainment, and Recreation',
    'Real Estate' : 'Real Estate and Rental and Leasing',
    'Retail' : 'Retail Trade',
    'Security' : 'Other Services (except Public Administration)',
    'Software' : 'Professional, Scientific, and Technical Services',
    'Telecommunicatons' : 'Professional, Scientific, and Technical Services',
    'Travel & Hospitality' : 'Accommodation and Food Services',
    'IT Management' : 'Professional, Scientific, and Technical Services',
    'IT System Development': 'Professional, Scientific, and Technical Services',
}

In [ ]:
# code mapping : df['Capital'] = df['Country'].map(country_capital)
# code insert to column index : df.insert(2, 'new-col', data)

# add sector based on mapping by industry
df2018_2019_concat['Sector'] = df2018_2019_concat['industry'].map(industry_sector)

In [ ]:
df2018_2019_concat.head()

In [ ]:
# create database connection
connection_string = "postgres:postgres@localhost:5432/Sector_Comparison"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# confirm tables
engine.table_names()

In [ ]:
# load database into database
df2018_2019_concat.to_sql(name='', con=engine, if_exist=append, index=True)

In [ ]:
#df2018_2019_concat.to_csv('inc2018_2019.csv')